In [1]:
# WAP to input a number and print its square

In [2]:
x = int(input("Enter a number: "))
print(x**2)
print()

print (x*x)

Enter a number: 5
25

25

In [3]:
import numpy as np
import math

In [4]:
x = int(input("Enter a number: "))
y = np.power(x,2)
print(y)

Enter a number: 5
25

In [5]:
x = int(input("Enter a number: "))
y = int(math.pow(x,3))
print(y)

Enter a number: 5
125

In [6]:
#ascii letters
import string

In [7]:
x =string.ascii_letters

In [8]:
#WAP to find weight of each alphabet

In [9]:
for var in x:
    print(var,"=",ord(var))

a = 97
b = 98
c = 99
d = 100
e = 101
f = 102
g = 103
h = 104
i = 105
j = 106
k = 107
l = 108
m = 109
n = 110
o = 111
p = 112
q = 113
r = 114
s = 115
t = 116
u = 117
v = 118
w = 119
x = 120
y = 121
z = 122
A = 65
B = 66
C = 67
D = 68
E = 69
F = 70
G = 71
H = 72
I = 73
J = 74
K = 75
L = 76
M = 77
N = 78
O = 79
P = 80
Q = 81
R = 82
S = 83
T = 84
U = 85
V = 86
W = 87
X = 88
Y = 89
Z = 90

In [10]:
chr(97)

'a'

In [11]:
chr(65)

'A'

In [12]:
string.printable

'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~ \t\n\r\x0b\x0c'

In [13]:
import random

In [14]:
x = random.randrange(10,20)

In [15]:
x

15

In [16]:
y = random.randint(10,20)

In [17]:
y

14

In [18]:
for value in string.ascii_letters:
    print("x:", random.randrange(10,20) )

x: 10
x: 13
x: 14
x: 16
x: 14
x: 16
x: 16
x: 15
x: 10
x: 11
x: 13
x: 17
x: 19
x: 14
x: 14
x: 16
x: 12
x: 13
x: 12
x: 14
x: 15
x: 15
x: 16
x: 18
x: 15
x: 16
x: 19
x: 17
x: 11
x: 15
x: 18
x: 14
x: 19
x: 13
x: 12
x: 12
x: 15
x: 14
x: 18
x: 14
x: 12
x: 17
x: 18
x: 13
x: 17
x: 13
x: 15
x: 15
x: 19
x: 14
x: 11
x: 19

In [19]:
for value in string.ascii_letters:

    print("y:", random.randint(10,20))

y: 11
y: 10
y: 11
y: 10
y: 15
y: 10
y: 19
y: 20
y: 10
y: 15
y: 12
y: 15
y: 17
y: 15
y: 16
y: 13
y: 19
y: 20
y: 13
y: 17
y: 17
y: 19
y: 20
y: 11
y: 18
y: 18
y: 19
y: 16
y: 20
y: 12
y: 12
y: 17
y: 13
y: 11
y: 13
y: 18
y: 20
y: 16
y: 20
y: 11
y: 18
y: 15
y: 19
y: 19
y: 20
y: 18
y: 20
y: 14
y: 10
y: 19
y: 12
y: 17

In [20]:
# WAP to generate 2 random no.(1-100) and print their sum and avg for 10 times
# while Loop

In [21]:
i =0
while i<10:
    x = random.randint(1,100)
    y = random.randint(1,100)

    print("sum of x and y is:" ,(x+y))

    print("avg of x and y is:" ,(x+y)/2)
    
    i+=1

sum of x and y is: 112
avg of x and y is: 56.0
sum of x and y is: 72
avg of x and y is: 36.0
sum of x and y is: 154
avg of x and y is: 77.0
sum of x and y is: 39
avg of x and y is: 19.5
sum of x and y is: 127
avg of x and y is: 63.5
sum of x and y is: 69
avg of x and y is: 34.5
sum of x and y is: 66
avg of x and y is: 33.0
sum of x and y is: 77
avg of x and y is: 38.5
sum of x and y is: 135
avg of x and y is: 67.5
sum of x and y is: 57
avg of x and y is: 28.5

In [22]:
# WAP to find sum of number from 1 to n,hint   s(n) = (n*(n+1)/2), n =1 >s(1)= 1(2/2)= 1,
#s(2) = 1+2 = 3, s(3) 1+2+3= 6=> 3(3+1)/2 = 6

In [24]:
n= int(input("enter the value of n:"))
x = range(1,n+1,1)
l = []
for value in x:
    l.append(value)
print(l)
sum(l)

enter the value of n:5
[1, 2, 3, 4, 5]

15

In [25]:
n = int(input('Enter a number:',))
print(n*(n+1)/2)

Enter a number:5
15.0

In [26]:
x = range(1,5,1)

In [27]:
x

range(1, 5)

In [28]:
print(x)

range(1, 5)

In [29]:
s = input("enter")
i =0
while s!="n":
    s = input("enter")
    i+=1
print(i)

enter6]n
entern
1

In [30]:
# WAP to input a string and print ascii value of each character

In [31]:
s = input("enter a string:" )
i=0
while i<len(s):
    print(s[i],"=",ord(s[i]))
    i = i+1
print(len(s))

enter a string:fghj
f = 102
g = 103
h = 104
j = 106
4

In [32]:
# WAP to input a string and find sum ascii value of each character

In [33]:
s = input("enter a string:" )
i=0
l=[]
while i<len(s):
    print(s[i],"=",ord(s[i]))
    l.append(ord(s[i]))
    i = i+1
print(sum(l))

enter a string:vbnm
v = 118
b = 98
n = 110
m = 109
435

In [34]:
s =("asdf hjk kl")
print(s.split())

['asdf', 'hjk', 'kl']

In [35]:
print(s.split("a"))

['', 'sdf hjk kl']

In [36]:
print(s.split("ab"))

['asdf hjk kl']

In [37]:
print(s.split("df"))

['as', ' hjk kl']

In [38]:
#WAP to input a string and print length of each words

In [39]:
s = (" asd fg hj")
s =s.split()
i = 0
while i<len(s):
    print((s[i], len(s[i])))
    i+=1

('asd', 3)
('fg', 2)
('hj', 2)

In [40]:
s = (" asd fg hj")

l = list(s)

In [41]:
l

[' ', 'a', 's', 'd', ' ', 'f', 'g', ' ', 'h', 'j']

In [42]:
# WAp to input numbers seperated by "," and then convert it to list of ints

In [43]:
x = (input('enter no.:'))
x = x.split(",")
x = list(x)
i = 0
while i<len(x):
    x[i] = int(x[i])
    i+=1
print(x)

enter no.:85
[85]

In [44]:
s =("df,g,hjkl")

In [45]:
" ".join(s)

'd f , g , h j k l'

In [46]:
s =("df","g","hjkl")

In [47]:
" ".join(s)

'df g hjkl'

In [48]:
s =["df","g","hjkl"]
s ="$".join(s)
s

'df$g$hjkl'

In [49]:
s = "123456"
print(s.isdigit())

True

In [50]:
###WAP to input a string and count no of "a" alphbets

In [51]:
s = input("enter a string: ")
s= list(s)
print(s)
i = 0
count=0
while i <len(s):
    if s[i]=="a":
        count+=1
        i+=1
    else:
        i+=1
print(count)

enter a string: fghjkl
['f', 'g', 'h', 'j', 'k', 'l']
0

In [52]:
###WAP to input a string and count no of  alphbets ocurrance

In [53]:
s = "asdfghjasdfghjklasdfghjnmlriueAAAAAAaaywfsdcj"
s = s.lower()
print("","a =",s.count("a"),"\n","e =",s.count("e"),"\n","i =",s.count("i"))

 a = 11
 e = 1
 i = 1

In [54]:
#pallindrome

In [55]:
s =["not pallindrome", "pallindrome"]
x = "asdfga"
x1 = x[::-1]
print(x1)
print (s[x1==x])

agfdsa
not pallindrome

In [56]:
#for
#WAP to print first 10 natural numbers

In [57]:
x = range(1,11)

In [58]:
x

range(1, 11)

In [59]:
for val in x:
    print(val)

1
2
3
4
5
6
7
8
9
10

In [60]:
#while
#WAP to print first 10 natural numbers

In [61]:
i =0
while i<10:
    print(i+1)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [62]:
x = "1234567891234567123456343"
x = list(x)

In [63]:
i= 0
c =0
for val in x:
    if x[i]=="3":
        c=c+1
        i+=1
    else:
        i+=1
print(c)

5

In [64]:
#WAp to find exp with out func

In [66]:
b = int(input("enter the base: "))
e = int(input("enter the exp: "))
i =1
for var in range(e):
    i = i*b
    print(i)

enter the base: 2
enter the exp: 5
2
4
8
16
32

In [67]:
# WAF fuct(n) and returns factorial of n!

In [68]:
def funct(n):
    for var in range(1,n+1):
        print(var,end = ",")
n = int(input("enter the n :"))
funct(n)

enter the n :5
1,2,3,4,5,

In [69]:
## WAp get rand_list() which should a list of   5 random numbres

In [85]:
def rand_list(n):
    l =[]
    for var in range(0,n):
        x = random.randint(1,100)
        l.append(x)
    return(l)
n= int(input("vhbj"))
rand_list(n)

vhbj5

[2, 66, 30, 56, 58]

In [82]:
for var in range(0,5):
       
        x = random.randint(1,100)
        l.append(x)
        print(l)
print(l)

[1]
[42]
[19]
[97]
[2]
[2]

In [ ]:
x